TUPLES

In [ ]:
#LIST => array di python
#Menggunakan Kurung Siku []
data_list = [10, 2, 4, 3, 2]
print(data_list)

#TUPLES => Menggunakan kurung biasa ()
data_tuples = (7, 8, 10, 11)
print(data_tuples)

print(data_tuples[1])
#Tidak bisa dilakukan
#data_tuples[1] = "12"
#data_tuples.append(1)

[10, 2, 4, 3, 2]
(7, 8, 10, 11)
8

SET

In [ ]:
#menggunakan kurung kurawal{}

#Sets (himpunan)
data_sets = {10, 4, 3, 2, 7, 6, 5,}
print(data_sets)
#print(data_sets{0})

#data_set.append(1)
#print(data_set)
 #himpunan yang tidak memiliki index

{2, 3, 4, 5, 6, 7, 10}

Dictionary

In [ ]:
##Dictionary
#List -> array, mengakses dengan menggunakan index
data_list = ["Sylus", "Caleb", "Zayne"]
print(data_list[0])

#dictionary (dict)-> associative array
#identifier -> key
data_dict = {
    "key": "value",
    "Sy": "Sylus",
    "Cl": "Caleb",
    "Zy": "Zayne",
    "nmbr": 100 ,
    "list": data_list
}
print(data_dict)
print(data_dict["Zy"])
print(data_dict["nmbr"])
print(data_dict["list"])
print(data_dict)

Sylus
{'key': 'value', 'Sy': 'Sylus', 'Cl': 'Caleb', 'Zy': 'Zayne', 'nmbr': 100, 'list': ['Sylus', 'Caleb', 'Zayne']}
Zayne
100
['Sylus', 'Caleb', 'Zayne']
{'key': 'value', 'Sy': 'Sylus', 'Cl': 'Caleb', 'Zy': 'Zayne', 'nmbr': 100, 'list': ['Sylus', 'Caleb', 'Zayne']}

Operasi Dictionary

In [ ]:
##--Operasi Dictionary --

data_dict = {
    "Lus": "Sylus leader",
    "Leb": "Caleb kolonel",
    "Yel": "Rafayel seagod"
}
#Panjang dictionary
LENDICT = len(data_dict)
print(f"Panjang dictionary : {LENDICT}") #/(dict_len)

#Mengecek key exist atau tidak
key = "Lus"
check_key = key in data_dict
print(f"Apakah {key} ada di data_dict: {check_key}")

#Mengakses value (read) dengan get
print(data_dict ["Lus"])
print(data_dict.get("Lus"))
print(data_dict.get ("kis", "key tidak ditemukan"))#mengecek key dengan message

#Mengupdate data
data_dict["Lus"] = "Sylus si ganteng"
print(f"\ndata sebelum  update:", data_dict)
data_dict["Xa"] = "Xavier si raja"
print(f"\ndata sebelum di update:\n", data_dict)

data_dict.update({"Lus": "Sylus the dragon"})
print(f"\ndata setelah diupdate:\n", data_dict)
data_dict.update({"Zyn": "Zayne emang keren"})
#akan ditambah jika tidak ada
print(f"\ndata setelah di update:\n",data_dict)

#Menghapus data
del data_dict ["Zyn"]
print(f"\ndata setelah di hapus:",data_dict)

Panjang dictionary : 3
Apakah Lus ada di data_dict: True
Sylus leader
Sylus leader
key tidak ditemukan

data sebelum  update: {'Lus': 'Sylus si ganteng', 'Leb': 'Caleb kolonel', 'Yel': 'Rafayel seagod'}

data sebelum di update:
 {'Lus': 'Sylus si ganteng', 'Leb': 'Caleb kolonel', 'Yel': 'Rafayel seagod', 'Xa': 'Xavier si raja'}

data setelah diupdate:
 {'Lus': 'Sylus the dragon', 'Leb': 'Caleb kolonel', 'Yel': 'Rafayel seagod', 'Xa': 'Xavier si raja'}

data setelah di update:
 {'Lus': 'Sylus the dragon', 'Leb': 'Caleb kolonel', 'Yel': 'Rafayel seagod', 'Xa': 'Xavier si raja', 'Zyn': 'Zayne emang keren'}

data setelah di hapus: {'Lus': 'Sylus the dragon', 'Leb': 'Caleb kolonel', 'Yel': 'Rafayel seagod', 'Xa': 'Xavier si raja'}

Looping Dictionary

In [14]:
##--Looping Dictionary

teman_teman = {
    "Lus": "Sylus leader",
    "Mgy": "Mingyu SVT",
    "Njm": "Na Jaemin NCT",
    "Jno": "Jeno NCT"
}
#Looping first try (yang keluar hanyalah key)
for teman in teman_teman:
    print("Key:", teman)

Key: Lus
Key: Mgy
Key: Njm
Key: Jno

In [15]:
teman_teman = {
    "Lus": "Sylus leader",
    "Mgy": "Mingyu SVT",
    "Njm": "Na Jaemin NCT",
    "Jno": "Jeno NCT"
}

#Operator untuk mengambil item
keys = teman_teman.keys()
print(f"keys :", keys)

keys : dict_keys(['Lus', 'Mgy', 'Njm', 'Jno'])

In [16]:
teman_teman = {
    "Lus": "Sylus leader",
    "Mgy": "Mingyu SVT",
    "Njm": "Na Jaemin NCT",
    "Jno": "Jeno NCT"
}
#menampilkan nilai berdasarkan key
for key in teman_teman.keys():
    print(f"teman get key :", teman_teman.get(key))

teman get key : Sylus leader
teman get key : Mingyu SVT
teman get key : Na Jaemin NCT
teman get key : Jeno NCT

In [17]:
teman_teman = {
    "Lus": "Sylus leader",
    "Mgy": "Mingyu SVT",
    "Njm": "Na Jaemin NCT",
    "Jno": "Jeno NCT"
}
#Mengambil semua value
values = teman_teman.values()
print(f"Values:", values)

Values: dict_values(['Sylus leader', 'Mingyu SVT', 'Na Jaemin NCT', 'Jeno NCT'])

In [18]:
teman_teman = {
    "Lus": "Sylus leader",
    "Mgy": "Mingyu SVT",
    "Njm": "Na Jaemin NCT",
    "Jno": "Jeno NCT"
}
#mengambil value satu persatu
for value in teman_teman.values():
    print(f"teman values:" , value)

teman values: Sylus leader
teman values: Mingyu SVT
teman values: Na Jaemin NCT
teman values: Jeno NCT

In [19]:
teman_teman = {
    "Lus": "Sylus leader",
    "Mgy": "Mingyu SVT",
    "Njm": "Na Jaemin NCT",
    "Jno": "Jeno NCT"
}
#Mengambil dan menampilkan item
for item in teman_teman.items():
    print(f"teman items:", item)

teman items: ('Lus', 'Sylus leader')
teman items: ('Mgy', 'Mingyu SVT')
teman items: ('Njm', 'Na Jaemin NCT')
teman items: ('Jno', 'Jeno NCT')

In [20]:
teman_teman = {
    "Lus": "Sylus leader",
    "Mgy": "Mingyu SVT",
    "Njm": "Na Jaemin NCT",
    "Jno": "Jeno NCT"
}
#Menampilkan key dan value secara langsung
for key,value in teman_teman.items():
    print(f"teman item: key = {key}, value = {value}")

teman item: key = Lus, value = Sylus leader
teman item: key = Mgy, value = Mingyu SVT
teman item: key = Njm, value = Na Jaemin NCT
teman item: key = Jno, value = Jeno NCT

Latihan/ Tugas

In [ ]:
# a. Membuat Tuple
mahasiswa = ("Nabilla Dwi Putri Paraswati", "2505060059", "Teknologi Informasi")
print(mahasiswa)

# b. Mengubah prodi menjadi "Teknologi Informasi dan Elektro"
#karena tuple bersifat immutable maka  buat isi baru
mahasiswa = (mahasiswa [0], mahasiswa[1], "Teknologi Informasi dan Elektro")
print(mahasiswa)

# c. menampilkan NIM dan Prodi
print("\nNIM :", mahasiswa [1])
print("\nProdi :", mahasiswa[2])

('Nabilla Dwi Putri Paraswati', '2505060059', 'Teknologi Informasi')
('Nabilla Dwi Putri Paraswati', '2505060059', 'Teknologi Informasi dan Elektro')

NIM : 2505060059

Prodi : Teknologi Informasi dan Elektro

In [13]:
# a. Membuat dictionary
keranjang = {
    "apel": 5000,
    "pisang": 3000,
    "jeruk": 7000,
    "anggur": 15000
    }
print(f"Keranjang :",keranjang)

# b. Menghitung total harga semua barang (perulangan)
print("\nTotal harga:")
total = 0
for harga in keranjang.values():
  total += harga
  print(f"Total harga",{harga})

# c. Menampilkan setiap barang dan harganya
print("\nHarga tiap barang")
for buah, harga in keranjang.items():
  print(f"Harga {buah}: Rp {harga}")

# d. Menampilkan total belanja
print("\nTotal belanja")
print("Total harga belanja :RP", total)

Keranjang : {'apel': 5000, 'pisang': 3000, 'jeruk': 7000, 'anggur': 15000}

Total harga:
Total harga {5000}
Total harga {3000}
Total harga {7000}
Total harga {15000}

Harga tiap barang
Harga apel: Rp 5000
Harga pisang: Rp 3000
Harga jeruk: Rp 7000
Harga anggur: Rp 15000

Total belanja
Total harga belanja :RP 30000